body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    overflow: hidden;
    background-color: #010101;
}
.container{
    width: 100%;
    margin: auto;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.title h2{
    text-align: center;
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #fff;

}
.underline{
    position: absolute;
    top: 6em;
    width: 100px;
    height: 5px;
    background-color: rgb(78, 78, 253);
    border-radius: 10px;
}
.image{
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
    position: relative;
    border: 2px solid red;
}
.image img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
img{
    transition: .5s ease-in-out;
}
img:hover{
    transform: scale(1.3);
}
.main{
    background: #152D3B;
    width: 50%;
    margin:auto;
    display: grid;
    place-items: center;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
    position: relative;
}
h3{
    margin:0;
    font-size: 1.6em;
    color: #fff;
}
p{
    color: #777;
    font-size: 1.2em;
}
.up{
   position: absolute;
   left: 0;
   top:  2em;
}
#range{
    width: 30%;
    height: 5px;
    -webkit-appearance: none;
    background-color: #ddd;
    border-radius: 10px;
}
#volume{
    width: 100%;
    height: 3px;
    -webkit-appearance: none;
    background-color: #ddd;
    border-radius: 10px;
}
.sec-play{
    padding: 1.4em;
}
button{
    outline:none;
    border:none;
    font-size: 2em;
    background-color: transparent;
    color: aqua;
    cursor: pointer;
}
